.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #D3E0EA;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    color:floralwhite;
    background-color:#1687A7;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #276678;
}

.col-12{
    margin: 20px 0;
}

.home-card-img{
    height: 500px;
}

.card-title{
    font-weight: 600;
}
.breadcrumb{
    background-color: #ddd;
    padding: 5px;
}

.breadcrumb-link{
    text-decoration: none;
    margin: auto;
}

.blockquote-footer{
    margin-top: 5px;
}



.media{
    display: flex;
    margin: 10px;
}

.media-body{
    align-self: flex-end;
    margin-left: 5%;
}

.media-heading{
    margin: 0px;
}

/*
#1687A7 
*/